.navbar {
    padding: 1.5em;
}

.navbarnd-letter {
    border: 1px solid black;
    padding: .5em;
    color: white;
    background-color: black;
    font-weight: bold;
}

.secondNavbar {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
    padding: 2em;
    background-color: black;
  }

  .nav-links { 
 display: flex; 
 align-items: center;
}

.nav-links a { 
color: #e2e5eb; 
padding: .5em;
margin: 0 auto;
}

.dropdown-menu {
    background-color: black;
}

.fa {
    padding: .5rem;
    font-size: 1rem;
    width:2vw;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;

  }

  .nav-item {
    animation-name: vertical;
    animation-duration: 4s;
  }
  
  .fa:hover {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  @keyframes vertical {
    0% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
    }
    4% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
    }
    8% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
    }
    12% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
    }
    16% {
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
    }
    20% {
    -webkit-transform: translate(0,3px);
    transform: translate(0,3px);
    }
    22%, 100% {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
    }
    }
    .carousel-item{
        height: 85vh;
        max-width: 100%;
    } 
    .carousel-item img{
        width: 100%;
        object-fit: contain;
    }
    
    .deals {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.8rem;
    color: black;
    }

    hr {
    border: 1px solid black;
    border-radius: 5px;
    width: 10vw;
    margin-top: -1.5em;
    }

    .new_footer_area {
        background: #121213;
    }
    
    
    .new_footer_top {
        padding: 120px 0px 270px;
        position: relative;
          overflow-x: hidden;
    }
    .new_footer_area .footer_bottom {
        padding-top: 5px;
        padding-bottom: 50px;
    }
    .footer_bottom {
        font-size: 14px;
        font-weight: 300;
        line-height: 20px;
        color: #e1e4ee;
        padding: 27px 0px;
    }
    .new_footer_top .company_widget p {
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        color: #e1e4ee;;
        margin-bottom: 20px;
    }
    .new_footer_top .company_widget .f_subscribe_two .btn_get {
        border-width: 1px;
        margin-top: 20px;
    }
    .btn_get_two:hover {
        background: transparent;
        color: #5e2ced;
    }
    .btn_get:hover {
        color: #fff;
        background: #6754e2;
        border-color: #6754e2;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
        text-decoration: none;
        outline: none;
    }
    
    
    
    .new_footer_top .f_widget.about-widget .f_list li a:hover {
        color: #007BFF;
    }
    .new_footer_top .f_widget.about-widget .f_list li {
        margin-bottom: 11px;
    }
    .f_widget.about-widget .f_list li:last-child {
        margin-bottom: 0px;
    }
    .f_widget.about-widget .f_list li {
        margin-bottom: 15px;
    }
    .f_widget.about-widget .f_list {
        margin-bottom: 0px;
    }
    .new_footer_top .f_social_icon a {
        width: 44px;
        height: 44px;
        line-height: 43px;
        background: transparent;
        border: 1px solid #e1e4ee;;
        font-size: 24px;
    }
    .f_social_icon a {
        width: 46px;
        height: 46px;
        border-radius: 50%;
        font-size: 14px;
        line-height: 45px;
        color: #e1e4ee;;
        display: inline-block;
        background: #ebeef5;
        text-align: center;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }
    .ti-facebook:before {
        content: "\e741";
    }
    .ti-twitter-alt:before {
        content: "\e74b";
    }
    .ti-vimeo-alt:before {
        content: "\e74a";
    }
    .ti-pinterest:before {
        content: "\e731";
    }
    
    .btn_get_two {
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #007BFF;
        border-color: #007BFF;
        color: #fff;
    }
    
    .btn_get_two:hover {
        background: transparent;
        color: #5e2ced;
    }
    
    .new_footer_top .f_social_icon a:hover {
        background: #5e2ced;
        border-color: #5e2ced;
      color:white;
    }
    .new_footer_top .f_social_icon a + a {
        margin-left: 4px;
    }
    .new_footer_top .f-title {
        margin-bottom: 30px;
        color: #e1e4ee;;
    }
    .f_600 {
        font-weight: 600;
    }
    .f_size_18 {
        font-size: 18px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #4b505e;
    }
    .new_footer_top .f_widget.about-widget .f_list li a {
        color: #e1e4ee;;
    }
    
    
    .new_footer_top .footer_bg {
        position: absolute;
        bottom: 0;
        background: url("http://droitthemes.com/html/saasland/img/seo/footer_bg.png") no-repeat scroll center 0;
        width: 100%;
        height: 266px;
    }
    
    .new_footer_top .footer_bg .footer_bg_one {
        background: url("https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif") no-repeat center center;
        width: 330px;
        height: 105px;
      background-size:100%;
        position: absolute;
        bottom: 0;
        left: 30%;
        -webkit-animation: myfirst 22s linear infinite;
        animation: myfirst 22s linear infinite;
    }
    
    .new_footer_top .footer_bg .footer_bg_two {
        background: url("./img/work.gif") no-repeat center center;
        width: 88px;
        height: 100px;
      background-size:100%;
        bottom: 0;
        left: 38%;
        position: absolute;
        -webkit-animation: myfirst 30s linear infinite;
        animation: myfirst 30s linear infinite;
    }
    
  .footer-details {
      line-height: 1.8em;
  }  
    
    @-moz-keyframes myfirst {
      0% {
        left: -25%;
      }
      100% {
        left: 100%;
      }
    }
    
    @-webkit-keyframes myfirst {
      0% {
        left: -25%;
      }
      100% {
        left: 100%;
      }
    }
    
    @keyframes myfirst {
      0% {
        left: -25%;
      }
      100% {
        left: 100%;
      }
    }
    
    /*************footer End*****************/
    
    